.main__signup {
    height: 500px;
}

#signup__bloc{
    position: relative;
}
.form__bloc{
    position: absolute;
}

/* Animation forms slide right direction on next */
.signup-slide-right-enter-active {
    transition: opacity 1s, transform 1s;
    transform: translateX(0px);
}
.signup-slide-right-enter {
    opacity: 0;
    transform: translateX(80px);
}
  
.signup-slide-right-leave-active {
    transition: opacity 1s, transform 1s;
    transform: translateX(0px);
}
.signup-slide-right-leave-to {
    opacity: 0;
    transform: translateX(-80px);
}

/* Animation forms slide left direction on next */
  
.signup-slide-left-enter-active {
    transition: opacity 1s, transform 1s;
    transform: translateX(0px);
}
.signup-slide-left-enter {
    opacity: 0;
    transform: translateX(-80px);
}
  
.signup-slide-left-leave-active {
    transition: opacity 1s, transform 1s;
    transform: translateX(0px);
}
.signup-slide-left-leave-to {
    opacity: 0;
    transform: translateX(80px);
}